#more {display: none;}
body{
    background-color: azure ;
}
h4{
   font-family: "Franklin Gothic Medium";
}
p
{
    font-family: Constantia;
}
h2{
    font-family: Gabriola;
    font-size: 50px;
    font-weight: bold;
}